body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 130%;
  background-color: #ecf4f3;

}

h1 {

  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
color:#66bfbf;

}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin:100px auto;
  width: 4%
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66bfbf;
  font-weight: bold;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}
p{
  line-height: 2;
}
a{
  color: #11999E;
font-family: "Montserrat" sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.top-container{
  background-color: #99d8d0;
  position: relative;
  padding-top: 100px;
}


.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
}

.mountain{
  position:relative;
  top:5px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;


}
.web-image{
  width: 25%;
  float: left;
  padding-right: 30px;
}
.swim-image{
  width: 25%;
  float: right;
  padding-left: 30px;
}

.middle-container{
  margin: 100px 0;

}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;


}
.footer-link{
  color: #11999E;
}

.water-mark{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
    border: 0;
    line-height: 2.5;
    padding: 20px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 8px;
    background-color: #66BFBF;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: #30e3cb;
}
.contact1{
  font-style: oblique;
  font-size: 4rem;
font-family: 'Merriweather', serif;
margin: 100px auto 120px;
}
